In [19]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import math
import json
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
from sklearn.externals import joblib
import scipy.sparse
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds
import warnings; warnings.simplefilter('ignore')
%matplotlib inline

In [20]:
df = pd.read_csv("Updated_GrammarandProductReviews.csv")

In [21]:
df.head(5)

,Unnamed: 0,id,brand,categories,dateAdded,dateUpdated,ean,keys,manufacturer,manufacturerNumber,...,reviews_doRecommend,reviews_id,reviews_numHelpful,reviews_rating,reviews_sourceURLs,reviews_text,reviews_title,reviews_username,upc,Review
0,0,AV13O1A8GV-KLJ3akUyj,Universal Music,"Movies, Music & Books,Music,R&b,Movies & TV,Mo...",2017-07-25T00:52:42Z,2018-02-05T08:36:58Z,6.02537E+11,"602537205981,universalmusic/14331328,universal...",Universal Music Group / Cash Money,14331328,...,NaN,NaN,0.0,5,https://redsky.target.com/groot-domain-api/v1/...,i love this album. it's very good. more to the...,Just Awesome,Joshua,6.02537E+11,awesome love album good hip hop side current p...
1,1,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",2017-07-25T05:16:03Z,2018-02-05T11:27:45Z,73416000391,lundbergorganiccinnamontoastricecakes/b000fvzw...,Lundberg,574764,...,NaN,100209113.0,NaN,5,https://www.walmart.com/reviews/product/29775278,Good flavor. This review was collected as part...,Good,Dorothy W,73416000391,good good flavor review collect part promotion
2,2,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",2017-07-25T05:16:03Z,2018-02-05T11:27:45Z,73416000391,lundbergorganiccinnamontoastricecakes/b000fvzw...,Lundberg,574764,...,NaN,100209113.0,NaN,5,https://www.walmart.com/reviews/product/29775278,Good flavor.,Good,Dorothy W,73416000391,good good flavor
3,3,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",2017-07-25T16:26:19Z,2018-02-05T11:25:51Z,67981934427,"kylovesensualitypleasuregel/b00u2whx8s,0679819...",K-Y,67981934427,...,False,113026909.0,NaN,1,https://www.walmart.com/reviews/product/43383370,I read through the reviews on here before look...,Disappointed,Rebecca,67981934427,disappoint read review look buy one couple lub...
4,4,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",2017-07-25T16:26:19Z,2018-02-05T11:25:51Z,67981934427,"kylovesensualitypleasuregel/b00u2whx8s,0679819...",K-Y,67981934427,...,False,171267657.0,NaN,1,https://www.walmart.com/reviews/product/43383370,My husband bought this gel for us. The gel cau...,Irritation,Walker557,67981934427,irritation husband buy gel us gel caused irrit...

In [22]:
df.columns

Index(['Unnamed: 0', 'id', 'brand', 'categories', 'dateAdded', 'dateUpdated',
       'ean', 'keys', 'manufacturer', 'manufacturerNumber', 'name',
       'reviews_date', 'reviews_dateAdded', 'reviews_dateSeen',
       'reviews_didPurchase', 'reviews_doRecommend', 'reviews_id',
       'reviews_numHelpful', 'reviews_rating', 'reviews_sourceURLs',
       'reviews_text', 'reviews_title', 'reviews_username', 'upc', 'Review'],
      dtype='object')

In [23]:
df = df[["reviews_username","ean","reviews_rating","name"]]

In [24]:
# Dropping all missing values
df = df.dropna()

In [25]:
# Renaming the columns
df.rename(columns={'reviews_username' : 'userID','ean':'prod_ID','reviews_rating':'rating','name':'prod_name'}, inplace=True)

In [26]:
print("Total data ")
print("-"*50)
print("\n Total no of ratings :",df.shape[0])
print("Total No of Users   :", len(np.unique(df.userID)))
print("Total No of products  :", len(np.unique(df.prod_ID)))

Total data
--------------------------------------------------

 Total no of ratings : 38895
Total No of Users   : 33865
Total No of products  : 467

In [27]:
df.isnull().any().any()

False

In [30]:
df['prod_ID'] = df['prod_ID'].apply(lambda x: x.replace(',',''))

In [31]:
df['prod_ID'] = df['prod_ID'].apply(lambda x: str(int(float(x))))

In [32]:
counts1=df['userID'].value_counts() 
counts=df['prod_ID'].value_counts()

In [33]:
len(counts1[counts1>=2].index)

3150

In [34]:
len(counts[counts>=2].index)

372

In [35]:
df1=df[df['userID'].isin(counts1[counts1 >=2].index)]
df1.shape

(8180, 4)

In [36]:
df1=df1[df1['prod_ID'].isin(counts[counts >=1].index)]
df1.shape

(8180, 4)

In [37]:
df1.head()

      userID       prod_ID  rating                                   prod_name
0     Joshua  602537000000       5   Pink Friday: Roman Reloaded Re-Up (w/dvd)
1  Dorothy W   73416000391       5  Lundberg Organic Cinnamon Toast Rice Cakes
2  Dorothy W   73416000391       5  Lundberg Organic Cinnamon Toast Rice Cakes
3    Rebecca   67981934427       1            K-Y Love Sensuality Pleasure Gel
5   Samantha   67981934427       1            K-Y Love Sensuality Pleasure Gel

In [38]:
ratings_sum = pd.DataFrame(df1.groupby(['prod_ID'])['rating'].sum()).rename(columns = {'rating': 'ratings_sum'})
top10 = ratings_sum.sort_values('ratings_sum', ascending = False).head(10)
top10

                           ratings_sum
prod_ID
44600015996                       6209
44600080338                       4511
7815492356020070405636096         3351
71249227916                       2907
42000871228                       1351
883930000000                      1272
37000143093                        971
703074000000                       514
78787107731                        484
80878181162                        465

In [39]:
top10_popular=top10.merge(df1,left_index = True, right_on = 'prod_ID').drop_duplicates(
    ['prod_ID', 'prod_name'])[['prod_ID', 'prod_name','ratings_sum']]

In [40]:
print ('Top 10 Popular Products by sum user ratings\n')
top10_popular

Top 10 Popular Products by sum user ratings

,prod_ID,prod_name,ratings_sum
6574,44600015996,Clorox Disinfecting Wipes Value Pack Scented 1...,6209
18759,44600080338,Clorox Disinfecting Bathroom Cleaner,4511
52244,7815492356020070405636096,"Olay Total Effects Daily Moisturizer, 7-In-1 A...",3351
57627,71249227916,L'oreal Paris Revitalift Triple Power Deep-Act...,2907
44503,42000871228,Quilted Northern Ultra Plush Toilet Paper - 18...,1351
68738,883930000000,Storks (blu-Ray),1272
31631,37000143093,Head & Shoulders Dry Scalp Care Conditioner,971
61937,703074000000,Lemi Shine Dishwasher Detergent Booster -24 Oz,514
3811,78787107731,"Pendaflex174 Divide It Up File Folder, Multi S...",484
51315,80878181162,Pantene Airspray Hairspray - 7 Oz,465

In [41]:
ratingsd=df1.pivot(index='prod_ID',columns= 'userID',values='rating').fillna(0)
ratingsd.head()

ValueError: Index contains duplicate entries, cannot reshape

In [43]:
df1["prod_ID"].value_counts()

44600015996                                                         1273
44600080338                                                          933
7815492356020070405636096                                            808
71249227916                                                          643
42000871228                                                          281
6055920001020599493197824                                            277
883930000000                                                         276
37000143093                                                          221
79400194213                                                          168
78787107731                                                          116
80878181162                                                          115
703074000000                                                         107
32429267405                                                           98
792850000000                                                          93
28400064057                                                           88
27242898523                                                           87
53891109741                                                           84
381370000000                                                          81
25192091490                                                           80
19800001285                                                           72
37000917342                                                           68
3760024193900370291719053812728594432                                 62
3006503610570300009615180591894300183216799903459222378793402368      62
2840008730800279976359045408273465344                                 57
75609007408                                                           57
73416300101                                                           52
305210000000                                                          52
889853000000                                                          51
31655690599                                                           46
6974872227130690160820224                                             45
                                                                    ...
20335011205                                                            1
84253240017                                                            1
852697000000                                                           1
58449891383                                                            1
13359302213                                                            1
73416003064                                                            1
40000495703                                                            1
27072809621                                                            1
4903705259730810267762688                                              1
213062114260021015478272                                               1
43318130144                                                            1
821809000000                                                           1
82803253548                                                            1
28400009485                                                            1
75856074055                                                            1
79896221622                                                            1
602537000000                                                           1
49694592422                                                            1
86947180876                                                            1
727507000000                                                           1
17082881625                                                            1
812713000000                                                           1
37600190671                                                            1
309976000000                                                           1
13132597461                                                            1
43396787094                                                            1
86800432494                                                            1
71100212167                                                            1
38555416915                                                            1
27616859037                                                            1
Name: prod_ID, Length: 321, dtype: int64